//                                                            ••••••••••••••
//                                                         ••••••••••••••••••••
//            handcrafted•••••                           •••••             ••••••
//        •with•love•&•care•by•           ••••         •••••                  •••••
//     •••••••           •••••          ••••          ••••                     •••••
//   •••••              •••••          ••••          ••••                       •••••
//  JJC•               •••••          ••••          ••••                        •••••
// CME•               •••••          ••••          ••••                         ••••
//  GSR•             •••••          ••••          ••••
//   NRT•••         •••••          ••••          ••••
//     CJS••       •••••          ••••          ••••
//       JMS      •••••          ••••          ••••
//                ••••          ••••          ••••
//               ••••          •••••         ••••
//               ••••        •••••••        ••••
//               •••••    •••2015••••     •••••
//                •Whitelabel•   •wlabel.co••
//                  •••••••       ••••••••

//0.0 BASE
//  0.1 Variables
//  0.2 Generics, Utilities, & Consolidations
//  0.3 Resets
//  0.4 Webfonts

//1.0 LAYOUT
//  1.1 Header Structure
//  1.2 Footer Structure
//  1.3 Headings
//  1.4 Forms

//2.0 MODULES
//  2.# Page Specific

//3.0 RESPONSIVE
//  3.1 Only Computer - No tablet or below
//  3.2 Only Tablet & Above - No Mobile Phone
//  3.3 Primary Mobile - Tablet & Below
//  3.4 Secondary Mobile - Phone & Below
//  3.5 iPad Only
//  3.6 iPhone Only

//4.0 Themes
//  4.# If Applicable

/*! WORDPRESS THEME INFO
Theme Name: Verizon XO
Author: Whitelabel
Description:
*/

// 0.0 BASE
// ----------------------------------------------------------------------------------------------------

// 0.1 Variables

// Responsive
$tablet: 1024px;
$big-phone: 768px;
$phone: 680px;

// Color
$background: #FFFFFF;
$default: #000;

// Space
$base: 16px;
$tablet-base: 15px;
$phone-base: 15px;

$space: 2em;
$half-space: $space / 2;
$double-space: $space * 2;
$minor-space: 1.250em;
$double-minor-space: $minor-space * 2;
$micro-space: 0.750em;
$nano-space: $micro-space / 2;

// Fonts
$font-stack: "Proxima-Nova", "Proxima-Nova-L", Helvetica, Arial, sans-serif;

// Misc
$animate-time: 0.2s;
$border-radius: 0.250em;

// Vendor
@import "bourbon";
@import "neat";

// Base Imports
@import "assets/styles/base/utilities";
@import "assets/styles/base/resets";
@import "assets/styles/base/generics";
@import "assets/styles/base/modbox";
@import "assets/styles/base/fonts";

// 1.0 LAYOUT - Global Structure
// ----------------------------------------------------------------------------------------------------
@import "assets/styles/layout/global";

// 1.1 Header Structure
@import "assets/styles/layout/header";

// 1.2 Footer Structure
@import "assets/styles/layout/footer";

// 1.3 Headings
@import "assets/styles/layout/headings";

// 1.4 Forms
@import "assets/styles/layout/forms";

// 2.0 MODULES - Page Specific
// ----------------------------------------------------------------------------------------------------

// 3.0 RESPONSIVE
// ----------------------------------------------------------------------------------------------------

// Only Computer - No tablet or below
// @media screen and (min-width: $tablet){} // End Only Computer

// Only Tablet & Above - No Mobile Phone
// @media screen and (min-width: $phone){} // End Tablet & Above

// Primary Mobile - Tablet & Below
// @media screen and (max-width: $tablet){} // End Tablet & Below

// Secondary Mobile - Phone & Below
// @media screen and (max-width: $phone){} // End Phone & Below

// iPad Only
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){} // End iPad Only

// iPhone Only
// @media only screen and (max-device-width: 480px){} // End iPhone Only
