body {
  background-color: $background;
  color: $default;
  font-family: $font-stack;
  font-size: $base;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet){
    font-size: $tablet-base;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    font-size: $phone-base;
  } // End Phone & Below
} // End body

p {
  line-height: 160%;
  margin-bottom: $minor-space;
} // End p

strong {
  font-family: "Proxima-Nova-B";

  em {
    font-family: "Proxima-Nova-BI";
  }
}

em {
  font-family: "Proxima-Nova-I";

  strong {
    font-family: "Proxima-Nova-BI";
  }
}
